.projects {
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}

.next-btn, .back-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #212EA0;
}

.back-btn {
    right: auto;
    left: 0;
}

.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    transition: 0.5s;
}

.slider ul li {
    list-style: none;
    flex: 0 0 50%; /* For desktop view, 2 cards at once */
    padding: 20px;
}

.slide {
    position: relative;
}

.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    border-radius: 10px;
    background-size: cover;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
    border: none;
}

.project:hover .caption {
    opacity: 1;
    padding-top: 0;
}

/* Media queries */

@media (max-width: 800px) {
    .projects {
        padding: 0 40px;
    }

    .next-btn, .back-btn {
        padding: 10px;
        width: 35px;
    }

    .slider ul li {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .slider ul li {
        flex: 0 0 100%; /* Only one card visible at a time */
    }

    .next-btn, .back-btn {
        top: 50%;
        padding: 10px;
        width: 35px;
    }
}